
/* marrgin top */
.mt-46 {
    margin-top: 46px;
}
/* marrgin bottom */

/* marrgin left */
.ml-6 {
    margin-left: 6px;
}

.ml-13 {
    margin-left: 13px;
}

.ml-16 {
    margin-left: 16px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-40 {
    margin-left: 40px;
}

.ml--40 {
    margin-left: -40px;
}

.ml--50 {
    margin-left: -50px;
}

/* margin right */
.mr-16 {
    margin-right: 16px;
}

.mr-20 {
    margin-right: 20px;
}

/* width */
.w-25 {
    min-width: 25%;
    max-width: 25%;
}

.w-15 {
    min-width: 15%;
    max-width: 15%;
}



/* position */
.position-relative {
    position: relative;
}

.position-relative:hover .show__tooltip {
    display: block;
}

.position-absolute {
    position: absolute;
}

/*  */
.l-25 {
    left: 25%;
}

.l--25 {
    left: -25%;
}

.t-25 {
    top: 25%;
}

/* Trạng thái disable */
.disable {
    background-color: #e0e0e0;
    color: #a6a6a6;
    cursor: not-allowed !important;
}